<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="vna">

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link" />
    <origin xyz="0 0 0.010" rpy="0 0 0"/>
  </joint>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="4.9577E-17 0.0010438 4.3796E-17"
        rpy="0 0 0" />
      <mass
        value="4.9512" />
      <inertia
        ixx="0.1553"
        ixy="3.8913E-19"
        ixz="3.6763E-16"
        iyy="0.21245"
        iyz="-1.0816E-15"
        izz="0.05751" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="rb_Link">
    <inertial>
      <origin
        xyz="-0.175 -0.24004 0.03674"
        rpy="0 0 0" />
      <mass
        value="0.43359" />
      <inertia
        ixx="0.00027363"
        ixy="3.3606E-18"
        ixz="1.0019E-17"
        iyy="0.00046433"
        iyz="-7.3974E-17"
        izz="0.00027363" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/rb_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/rb_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rb_Joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="rb_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lf_Link">
    <inertial>
      <origin
        xyz="0.175 0.24004 0.03674"
        rpy="0 0 0" />
      <mass
        value="0.43359" />
      <inertia
        ixx="0.00027363"
        ixy="-1.0438E-16"
        ixz="6.4552E-17"
        iyy="0.00046433"
        iyz="1.2921E-16"
        izz="0.00027363" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/lf_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/lf_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf_Joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="lf_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rf_Link">
    <inertial>
      <origin
        xyz="0.175 -0.24004 0.03674"
        rpy="0 0 0" />
      <mass
        value="0.43359" />
      <inertia
        ixx="0.00027363"
        ixy="-9.7292E-17"
        ixz="5.4757E-17"
        iyy="0.00046432"
        iyz="7.5154E-17"
        izz="0.00027363" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/rf_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/rf_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf_Joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="rf_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lb_Link">
    <inertial>
      <origin
        xyz="-0.175 0.24004 0.03674"
        rpy="0 0 0" />
      <mass
        value="0.43359" />
      <inertia
        ixx="0.00027363"
        ixy="-1.2502E-16"
        ixz="6.786E-17"
        iyy="0.00046432"
        iyz="6.0454E-17"
        izz="0.00027363" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/lb_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/lb_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lb_Joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="lb_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="lx_Link">
    <inertial>
      <origin
        xyz="-0.33352 -9.1926E-05  0.026268"
        rpy="0 0 0" />
      <mass
        value="1.3308" />
      <inertia
        ixx="0.0009607"
        ixy="8.0198E-07"
        ixz="-3.0916E-06"
        iyy="0.00061492"
        iyz="-0.00015824"
        izz="0.0010982" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/lx_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/lx_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lx_Joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="lx_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <!-- <gazebo reference="base_link">
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose> -0.33352 0 0.026268 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-1.5708</min_angle>
            <max_angle>1.5708</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type> -->
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <!-- <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/vna/laser/scan</topicName>
        <frameName>base_link</frameName>
      </plugin>
    </sensor>
  </gazebo> -->
  <link
    name="ly_Link">
    <inertial>
      <origin
        xyz="9.1926E-05 0.33352 0.026268"
        rpy="0 0 0" />
      <mass
        value="1.3308" />
      <inertia
        ixx="0.0009607"
        ixy="8.0198E-07"
        ixz="3.0916E-06"
        iyy="0.00061492"
        iyz="0.00015824"
        izz="0.0010982" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/ly_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://vna/meshes/ly_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ly_Joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="ly_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <gazebo reference="base_footprint">
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>0.33352 0 0.026268 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-1.5708</min_angle>
            <max_angle>1.5708</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <!-- Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading. -->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>scan</topicName>
        <frameName>base_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo reference="base_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>base_link</frameName>
        <initialOrientationAsReference>true</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>base_footprint</bodyName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>20.0</updateRate>
    </plugin>
  </gazebo>

  <!-- <gazebo>
      <plugin name="gazebo_mecanum_pid_plugin" filename="libgazebo_ros_mecanum_pid_drive.so">
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <robotBaseFrame>base_footprint</robotBaseFrame>
        <LeftRear>lf_Joint</LeftRear>
        <LeftFront>lb_Joint</LeftFront>
        <RightFront>rf_Joint</RightFront>
        <RightRear>rb_Joint</RightRear>
        <odometryRate>20</odometryRate>      
        <publishWheelTF>true</publishWheelTF>
        <publishWheelJointState>true</publishWheelJointState>
        <WheelTorque>30</WheelTorque>
        <WheelSeparationW>0.48</WheelSeparationW>
        <WheelSeparationL>0.35</WheelSeparationL>
        <wheelAccel>5</wheelAccel>
        <wheelDiameter>0.152</wheelDiameter>
        <publishOdom>false</publishOdom>
        <isRollerModel>true</isRollerModel>
        <dt>0.05</dt>
        <WheelInputVelTopic>zm_input_vel</WheelInputVelTopic>
        <WheelOutputVelTopic>zm_output_vel</WheelOutputVelTopic>
        <WheelPID>gazebo_mecanum_plugins_PID</WheelPID>
      </plugin>
  </gazebo> -->

  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>base_footprint</robotBaseFrame>
    </plugin>
  </gazebo>
</robot>