<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arenasm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-8.7124E-10 0.10193 -0.64765"
        rpy="0 0 0" />
      <mass
        value="15041" />
      <inertia
        ixx="30120"
        ixy="2.8402E-08"
        ixz="1.2131E-08"
        iyy="100400"
        iyz="74.302"
        izz="70324" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arenasm/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.63137 0.35294 0.58431 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://arenasm/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>